.fira-sans-normal{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;}


body{
   max-width:1280px;
   margin: 0 auto;
   background-color: #F1F1F3;
}

.banner{
    background-color:#C6E4D6 ;
    display: flex;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
}

.banner-text{
    padding: 117px 60px;
    
}
.banner-title{
    font-size: 24px;
    font-weight: medium;
    color:#0E0E0E ;
}

.banner-description{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    

}
.banner-btn{
    background-color:#006A50 ;
    font-weight: semiBold;
    font-size: 18px;
    color:#FFFFFF ;
    border-radius: 8px;
}



.banner-img{
    padding: 80px 60px;
}
/* second */

.technology{
    /* margin-top: 24px; */
    gap: 32px;
}
.technology-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.descriptinn{
    font-size: 16px;
    color: #0E0E0E;
}
.skills{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.shamim{
    background-color:#81B4FC;
    padding: 32px;
    border-radius: 16px;
    
}
.des-btn{
   background-color:#5490F5;
    border-radius: 8px;
    font-size: 16px;
    font-weight: semiBold;
    color:#FFFFFF;
}
.sayem{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;

}
.text-btn{
    background-color: #09A15C;
    border-radius: 8px;
    font-size: 16px;
    font-weight: semiBold;
    color:#FFFFFF;
}
.sohag{
   background-color: #F7EBCF; 
   padding: 32px;
    border-radius: 16px;
}
.last-btn{
    background-color:#FFC239;
    border-radius: 8px;
    font-size: 16px;
    font-weight: semiBold;
    color:#FFFFFF;
}
/* section3 */
.news-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.news-description{
    font-size: 16px;
    color:#0E0E0E ;
}
.main-news{
   display: flex;
   gap: 32px;
   background-color: #FFFFFF; 
   align-items: center;
   border-radius:24px ;
   padding: 48px 56px ;
   
}
.news-img{
    border-radius: 24px;
    /* padding: 48px 48px; */
    /* position: 48px 48px; */
    width: 408px;
    height: 306px;
}
.news-text{
    padding-right:48px;
}
.box-text{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.box-description
{
    font-size: 24px;
    color: #0E0E0E;
}
.btn-news{
   background-color: #006A50; 
   border-radius: 8px;
   font-size: 18px;
   font-weight: semibold;
   color: #FFFFFF;

}
/* section4 */
.akash-khabor{
    margin-top: 24px; 
}
.prodan-khabor{
   display:flex;
   gap: 32px;
   background-color: #FFFFFF; 
   /* align-items: center; */
   border-radius:24px ;
   padding: 48px 56px ;
   
}
.chabi{
    border-radius: 24px;
    /* padding: 48px 48px; */
    /* position: 48px 48px; */
    width: 408px;
    height: 306px;
}
.lekha{
    padding-right:48px;
}
.baksa{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.paragraph
{
    font-size: 24px;
    color: #0E0E0E;
}
.btn-khabar{
   background-color: #006A50; 
   border-radius: 8px;
   font-size: 18px;
   font-weight: semibold;
   color: #FFFFFF;

} 
/* section5   */
.taka-section{
    margin-top: 80px;
}
.help{
   font-weight: bold; 
   font-size: 40px;
   color: #0E0E0E;
   text-align: center;
   margin-top: 80px;
}
.help-description{
  font-size: 16px;  
  color: #0E0E0E;
  align-items: center;
  margin-top: 24px;
  padding: 0px 88px;
  

}
.donate-amount{
    padding:0px 104px 128px 104px;
    
    /* width: 1071px; */
    /* height: 128px; */
    margin-top: 32px;
     gap: 24px;

}
.aaa{
    background-color: #FFFFFF;
    border-radius: 16px;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    padding: 40px;
    gap: 24px;

}
.bbb{
    background-color:#C6E4D6 ;
    border-radius: 16px;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    padding: 40px;

}
.ccc{
    background-color: #FFFFFF;
    border-radius: 16px;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    padding: 40px;

}
.ddd{
    background-color: #FFFFFF;
    border-radius: 16px;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    padding: 40px;
}

.btn-amount{
background-color: #FFFFFF;
padding: 32px 124px 88px 124px;
color: #0E0E0E;
font-size: 20px;
align-items: center;
margin-top:0px;
text-align: center;
padding-top: 20px;

}
.btn-end{
   background-color:#006A50 ;
   align-items: center;
   text-align: center;
   /* justify-content: center; */
   margin-left:564px;
   font-size: 18px;
   color: #FFFFFF;
   margin-top:0px ;
   border-radius: 8px;
   padding: 35px 60px;


   
}
.hhh{
    margin-top: 32px;
    margin-bottom: 0px;
    /* width: 151px; */
    /* height: 56px; */
    /* padding-top: 408px; */
    /* padding-left: 564px; */
    
}


